<!--CABEZA DE LA PAGINA-->
<header id="#home">
    <!--BARRA DE NAVEGACION-->
    <a class="navbar-brand" href="#">
      <img src="assets/imagenes/logo.png" alt="Logo" width="110" height="60" class="">
    </a>
    <input type="checkbox" id="check">
   <label for="check" class="mostrar-menu">&#8801;</label>
    <nav class="menuu">
      <a href="#home">Home</a>
      <a href="#about">About Me</a>
      <a href="#studies">Academic Studies</a>
      <a href="#experience">Work Experience</a>
      <a href="#skills">Skills</a>
      <a href="#proyects">My Proyects</a>
      <a href="#contacts">Contacts</a>
      <button class="btnLogin-popup">Login</button>
      <label for="check" class="esconder-menu">&#215;</label>
    </nav>
  </header>
