<!--SECCION DE PROYECTOS-->
<section>
  <div class="row">
    <h1>MIS PROYECTOS</h1>
    <div class="contenedor">
      <div class="col-sm12 col-md-7 col-lg-7 parte1">
       <h2>proyecto 1</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Tenetur est deserunt optio provident,
          cumque cupiditate blanditiis odit deleniti,
          quae nobis vel iusto totam.
         Eaque, cumque tempore harum eius ipsum ut?</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="./../../assets/imagenes/piedepagina.png" alt="" class="img-fluid img-proyecto">
    </div>
    </div>
  </div>
  </section>
