<!--BARRA DE PRORGESO CIRCULAR HARD SKILLS-->
<!--<section id="skill-section">
   <div class="header skill-head">
      <h2>My <span>skill</span></h2>
      <h4>Hard Skills</h4>
      <p>here is my skills to represent my expertise</p>
   </div> 
   <div class="skill-main">
     <div class="skill-bar">
      <div class="info">
         <p>HTML</p>
         <p class="percent">90%</p>
      </div>
      <div class="bar2">
         <span class="html"></span>
      </div>
     </div>
     <div class="skill-bar">
      <div class="info">
         <p>CSS</p>
         <p class="percent">70%</p>
      </div>
      <div class="bar2">
         <span class="css"></span>
      </div>
     </div>
     <div class="skill-bar">
      <div class="info">
         <p>JavaScript</p>
         <p class="percent">60%</p>
      </div>
      <div class="bar2">
         <span class="java"></span>
      </div>
     </div>
     <div class="skill-bar">
      <div class="info">
         <p>C++</p>
         <p class="percent">80%</p>
      </div>
      <div class="bar2">
         <span class="c"></span>
      </div>
     </div>
     <div class="skill-bar">
      <div class="info">
         <p>ANGULAR</p>
         <p class="percent">75%</p>
      </div>
      <div class="bar2">
         <span class="angular"></span>
      </div>
     </div>
     <div class="skill-bar">
      <div class="info">
         <p>GitHub</p>
         <p class="percent">85%</p>
      </div>
      <div class="bar2">
         <span class="git"></span>
      </div>
     </div>
   </div>
</section>-->
<div class="row">
   <h1>My <span>Skills</span></h1>
   <h2>Hard Skills</h2>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="90"
      [radius]="100"
      [title]="'HTML'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="70"
      [radius]="100"
      [title]="'CSS'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="60"
      [radius]="100"
      [title]="'JavaScript'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="60"
      [radius]="100"
      [title]="'ANGULAR'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="75"
      [radius]="100"
      [title]="'GitHub'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="80"
      [radius]="100"
      [title]="'C++'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
   ></circle-progress>
   </div>
    
</div>
<!--SECCION DE BARRA DE PROGRESO SOFT SKILLS-->
<section id="bodi">
<div class="skill">
  <h4>Soft Skills</h4>
  <li><h6>COMUNICACION</h6>
       <span class="bar"><span class="comun"><div class="progress-bar" style="width: 100%">100%</div></span></span>
  </li> 
  <li><h6>NEGOCIACION</h6>
    <span class="bar"><span class="neg"><div class="progress-bar" style="width: 110%">90%</div></span></span>  
  </li>  
  <li><h6>RESOLUCION DE PROBLEMAS</h6>
    <span class="bar"><span class="res"><div class="progress-bar" style="width: 110%">90%</div></span></span>  
  </li>   
  <li><h6>TRABAJO EN EQUIPO</h6>
    <span class="bar"><span class="trab"><div class="progress-bar" style="width: 100%">100%</div></span></span>  
  </li>
  <li><h6>PACIENCIA</h6>
    <span class="bar"><span class="paci"><div class="progress-bar" style="width: 125%">80%</div></span></span>  
  </li>           
  </div>
</section>
