<!--<section>
    <div class="card text-center">
      <div class="card-header">
        ESTUDIOS ACADEMICOS
      </div>
      <div class="card-body">
        <h5 class="card-title">UCSE DASS</h5>
        <p class="card-text">Ingenieria en Informatica</p>
        <a href="#" class="btn btn-primary">Mas info...</a>
      </div>
      <div class="card-footer text-muted">
        Año 2021
      </div>
    </div>
  </section>-->
  <section>
    <div class="row">
      <h2>ESTUDIOS ACADEMICOS</h2>
      <div class="col-lg-1"></div>
      <div class="col-lg-11">
        <ul>
          <li><h3>estudio 1</h3> - <h4>(years)</h4></li>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo reiciendis 
            harum unde veritatis aspernatur. Culpa laudantium, illo, minima cum adipisci 
            veniam sint sit placeat quam accusantium enim inventore soluta tempore.</p>
        </ul>
      </div>
    </div>
  </section>
