<!--PIE DE PAGINA-->
<footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <h2>  SIGUENOS</h2>
        <div class="redes">
          <ul>
            <li><a href="https://www.facebook.com/samuel.acuna.790/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/samiacuna_7/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://github.com/SamuWeb777" target="_blank" class="github"><i class="fa-brands fa-github"></i></a></li>
          </ul>
         </div>
      </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b> argentina-programa</b> - Todos Los Derechos Reservados | Samuel Acuña</small>
    </div>
  </footer>
